@page "/"

<PageTitle>index</PageTitle>
<div class="container">
    <h1 class=titulo>Save Music</h1>
    <a href="https://accounts.spotify.com/authorize?response_type=code&client_id=c3f60b3448904bb388f72beee6fccff9&scope=playlist-read-collaborative playlist-modify-public playlist-read-private playlist-modify-private&redirect_uri=https://localhost:7008/playlists">
        <button class="flex button">Logar com spotify</button>
    </a>
</div>