@page "/"

<PageTitle>index</PageTitle>
<body>
    <div class="container">
        <h1 class=titulo>Save Music</h1>
        <a href="https://accounts.spotify.com/pt-BR/login">
            <button class="flex button">Logar com spotify</button>
        </a>
    
    </div>
</body>